# Azure infra automation
Install-Module -Name Az -Repository PSGallery -Force
# Intune module
Install-Module -Name Microsoft.Graph.Intune
# teams module - used by Matt
Install-Module -Name MicrosoftTeams -AllowPrerelease
# other similar module available
Install-Module -Name Microsoft.Graph.Teams
# Azure CLI - https://learn.microsoft.com/en-us/cli/azure/install-azure-cli#install
# Manually installed x64 bit MSI 
# and added C:\Program Files\Microsoft SDKs\Azure\CLI2\wbin in PATH

# Needed for DSC
Install-Module -Name PSDesiredStateConfiguration
Install-Module -Name Set-PsEnv